<div class = "p-4">
    <div class = "container">
        <h1>Reset your password</h1>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="form-resetpassword">
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input type="text" matInput formControlName="password" placeholder="Password">
            </mat-form-field>
            <button class="btn btn-sm btn-primary btn-block" type="submit">Reset</button>
        </form>
    </div>
</div>