<app-navbar></app-navbar>
<div class="change-password-container">
    <div class="container box">
    <form>
      <label for="oldPassword">{{ 'changePassword.oldPasswordLabel' | translate }}</label>
      <input type="password" [(ngModel)]="oldPassword" id="oldPassword" name="oldPassword" required>
      
      <label for="newPassword">{{ 'changePassword.newPasswordLabel' | translate }}</label>
      <input type="password" [(ngModel)]="newPassword" id="newPassword" name="newPassword" required>
      
      <label for="confirmPassword">{{ 'changePassword.confirmPasswordLabel' | translate }}</label>
      <input type="password" [(ngModel)]="confirmPassword" id="confirmPassword" name="confirmPassword" required>
      
      <button type="button" (click)="changePassword()">{{ 'changePassword.changePasswordButton' | translate }}</button>
    </form>
    <div *ngIf="successMessage" class="success-message">{{ 'changePassword.successMessage' | translate }}</div>
    <div *ngIf="errorMessage" class="error-message">{{ 'changePassword.errorMessage' | translate }}</div>
  </div>
</div>
